<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>__TITLE__</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>

<!--begin.rcode, echo=FALSE, comment=FALSE
  library(xtable)
  hashtags = read.delim(file.path(source_path, "top-hashtags.tsv"), header=FALSE)
  mentions = read.delim(file.path(source_path, "top-mentions.tsv"), header=FALSE)
  users = read.delim(file.path(source_path, "top-users.tsv"), header=FALSE)
  sources = read.delim(file.path(source_path, "top-sources.tsv"), header=FALSE)
  tweets.by.day = read.delim(file.path(source_path, "tweets-by-day.tsv"), header=FALSE)
  tweets = read.delim(file.path(source_path, "tweets.tsv"), header=FALSE)
  #tweets$link = sprintf('<a href="https://twitter.com/%s/status/%s">%s</a>', tweets$V2, tweets$V3, tweets$V1)
  tweets.merged <- as.data.frame(paste(tweets$V2, tweets$V1, tweets$V4, sep=" : "))
end.rcode-->

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">About</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Pirelli Twitter data collector</h3>
      </div>

      <div class="jumbotron">
        <h1>__TITLE__</h1>
        <p class="lead">Report of tweets</p>
      </div>

      <div class="row marketing">
        <div class="col-sm-4">
           <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Top Hashtags</h3>
              </div>
              <div class="panel-body">

<!--begin.rcode results='asis', echo=FALSE, comment=FALSE
  print(xtable(hashtags), type="html",
                          include.rownames=FALSE,
                          include.colnames=FALSE,
                          html.table.attributes="border=0")
end.rcode-->

              </div>
           </div>

           <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Top sw/devices</h3>
              </div>
              <div class="panel-body">

<!--begin.rcode results='asis', echo=FALSE, comment=FALSE
  print(xtable(sources), type="html",
                          include.rownames=FALSE,
                          include.colnames=FALSE,
                          html.table.attributes="border=0")
end.rcode-->

              </div>
           </div>

         </div>

        <div class="col-sm-4">
           <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Top Mentions</h3>
              </div>
              <div class="panel-body">

<!--begin.rcode results='asis', echo=FALSE, comment=FALSE
  print(xtable(mentions), type="html",
                          include.rownames=FALSE,
                          include.colnames=FALSE,
                          html.table.attributes="border=0")
end.rcode-->

              </div>
           </div>
         </div>

        <div class="col-sm-4">
           <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Top users</h3>
              </div>
              <div class="panel-body">

<!--begin.rcode results='asis', echo=FALSE, comment=FALSE
  print(xtable(users), type="html",
                          include.rownames=FALSE,
                          include.colnames=FALSE,
                          html.table.attributes="border=0")
end.rcode-->

              </div>
           </div>

           <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Tweets by day</h3>
              </div>
              <div class="panel-body">

<!--begin.rcode results='asis', echo=FALSE, comment=FALSE
  print(xtable(tweets.by.day), type="html",
                          include.rownames=FALSE,
                          include.colnames=FALSE,
                          html.table.attributes="border=0")
end.rcode-->

              </div>
         </div>

         </div>

      </div>


           <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Tweets</h3>
              </div>
              <div class="panel-body">
<!--begin.rcode results='asis', echo=FALSE, comment=FALSE
  print(xtable(tweets.merged), type="html",
                          include.rownames=FALSE,
                          include.colnames=FALSE,
                          html.table.attributes="border=0")
end.rcode-->
              </div>
           </div>


      <footer class="footer">
        <p>&copy; Pirelli 2014</p>
      </footer>

    </div> 
  </body>
</html>

